<?xml version="1.0"?>
<model>
  <name>Granite Table</name>
  <version>1.0</version>
  <sdf version="1.6">../../urdf/table.urdf</sdf>

  <author>
    <name>shane loretz</name>
    <email>sloretz@openrobotics.org</email>
  </author>

  <description>
    Example granite table.
  </description>
</model>
